$primary: #007bff; // Azul gamer principal
$primary-hover: #0056b3; // Azul más oscuro para hover

$text-primary: #ffffff; // Texto principal blanco
$text-secondary: #a0a0a0; // Texto secundario gris claro

$border-primary: #353535; // Borde principal gris oscuro
$border-secondary: #404040; // Borde secundario ligeramente más claro

$background-primary: #1a1a1a; // Fondo principal oscuro
$background-secondary: #121212; // Fondo secundario más oscuro
$background-tertiary: #0d0d0d; // Fondo terciario aún más oscuro
$background-quaternary: #353535; // Fondo para elementos destacados
$background-quaternary__blur: #35353510; // Fondo con efecto blur

$success: #4caf50; // Verde para éxito (más apagado para el estilo gamer)
$danger: #ff1744; // Rojo vibrante para peligro
